header {
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 90%;

    background-color: #217d56;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    margin-right: 30px;
}
